body{
    background-color: #000417;
    color: #ffffff;

    font-family: "Arial", serif;
    text-align: justify;

    font-size: 1em;
}

header{
    text-align: center;

    background-color: #000000;

    box-shadow: 0 0 1em 0.5em rgba(47, 92, 255, 0.75);

    border-radius: 0.5em;

    margin-top: 0.7em;
    margin-bottom: 0.7em;

    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

header img{
    display: block;

    height: 6em;

    margin-left: auto;
    margin-right: auto;
}

button{
    font-size: 1em;

    background-color: #000417;
    color: rgba(156, 180, 255, 0.75);

    box-shadow: 0.1em 0.1em 0.1em rgba(35, 68, 195, 0.75);

    border: solid 0.2em rgba(35, 68, 195, 0.75);

    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

button:hover{
    background-color: rgba(35, 68, 195, 0.75);

    box-shadow: 0 0 0 rgba(35, 68, 195, 0.75);

    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right: -0.1em;
}

aside{
    display: none;

    background-color: #000000;

    box-shadow: 0 0 1em 0.5em rgba(47, 92, 255, 0.75);

    border-radius: 0.5em;

    margin-bottom: 0.7em;

    padding-bottom: 0.5em;

    position: absolute;
}

aside button{
    float: right;

    margin-top: 0.5em;
    margin-right: 0.5em;

    padding-top: 0.1em;
    padding-bottom: 0.2em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

aside button:hover{
    margin-top: 0.6em;
    margin-right: 0.4em;
}

aside h1{
    font-size: 1.5em;

    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}

aside h2{
    font-size: 1.2em;

    margin-right: 0.5em;
    margin-left: 0.7em;
    margin-top: 0;
    margin-bottom: 0.2em;
}

aside h2 + h1{
    margin-top: 1em;
}

aside h1 + h1{
    margin-top: 1em;
}

aside i{
    color: rgba(156, 180, 255, 0.75);

    font-style: normal;
    text-decoration: underline;
}

article button{
    float: left;

    margin-right: 1.5em;
}

article button:hover{

    margin-left: 0.1em;
    margin-bottom: -0.1em;
    margin-right: 1.4em;
}

article h1{
    margin-bottom: 0.3em;
}

article h2{
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}

article h3{
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}

article h4{
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

article div.pathSeparator{
    float: left;

    color: rgba(156, 180, 255, 0.75);

    font-weight: bold;

    margin-top: 0.5em;
    margin-right: 0.3em;
}

article div.pathEnd{
    float: left;

    background-color: rgba(35, 68, 195, 0.75);
    color: rgba(156, 180, 255, 0.75);

    box-shadow: 0 0 0 rgba(35, 68, 195, 0.75);

    border: solid 0.2em rgba(35, 68, 195, 0.75);

    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.4em;

    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

article div.PublishedRow{
    width: 100%;
}

article div.PublishedRow:after{
    content: "";
    display: table;
    clear: both;
}

article div.PublishedColumn{
    float: left;

    text-align: center;

    margin-right: 1em;
}

article img{
    box-shadow: 0.1em 0.1em 0.3em rgba(35, 68, 195, 0.75);

    border: solid 0.1em rgba(35, 68, 195, 0.75);

    border-radius: 0.5em;

    margin-top: 0.5em;
    margin-bottom: 0.7em;
    margin-right: 0.7em;
}

article img.Normal{
    height: 15em;
}

article img.Breit{
    width: 100%;
}

article img.Icon{
    height: 5em;

    margin: 0;
    margin-bottom: 0.5em;
}

article img.Feature{
    width: 10em;

    margin: 0;
    margin-bottom: 0.5em;
}

article video{
    height: 15em;

    box-shadow: 0.1em 0.1em 0.3em rgba(35, 68, 195, 0.75);

    border: solid 0.1em rgba(35, 68, 195, 0.75);

    border-radius: 0.5em;

    margin-top: 0.5em;
    margin-bottom: 0.7em;
    margin-right: 0.7em;
}

article ul{
    margin-top: 0;
    margin-bottom: 0.4em;
}

article table{
    border-collapse: collapse;

    box-shadow: 0.1em 0.1em 0.3em rgba(35, 68, 195, 0.75);

    border: solid 0.1em rgba(35, 68, 195, 0.75);

    border-radius: 0.5em;
}

article table tr:hover{
    background-color: rgba(6, 19, 57, 0.75);
}

article table td{
    border: solid 0.1em rgba(35, 68, 195, 0.75);

    padding: 0.1em 0.5em 0.1em 0.3em;
}

article table td.emptyRow{
    height: 0.05em;
    padding: 0;
    margin: 0;

    background-color: rgba(35, 68, 195, 0.75);
}

article table th{
    border: solid 0.1em rgba(35, 68, 195, 0.75);

    padding: 0.3em 0.5em 0.3em 0.3em;
}

footer{
    background-color: #000000;

    box-shadow: 0 0 1em 0.5em rgba(47, 92, 255, 0.75);

    border-radius: 0.5em;

    margin-top: 0.7em;
    margin-bottom: 0.7em;

    padding: 0.5em;
}

footer i{
    font-style: normal;
    text-decoration: underline;

    color: rgba(156, 180, 255, 0.75);
}

a{
    font-size: 1em;
    text-decoration: none;

    color: rgba(156, 180, 255, 0.75);
}

a:hover{
    font-style: italic;
}

article a.Button{
    float: left;

    background-color: #000417;
    color: rgba(156, 180, 255, 0.75);

    box-shadow: 0.1em 0.1em 0.1em rgba(35, 68, 195, 0.75);

    border: solid 0.2em rgba(35, 68, 195, 0.75);

    margin-right: 0.5em;

    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

article a.Button:hover{
    font-style: normal;

    background-color: rgba(35, 68, 195, 0.75);

    box-shadow: 0 0 0 rgba(35, 68, 195, 0.75);

    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.4em;
}

article a.Download{
    float: right;

    margin-right: 0;
    margin-left: 0.5em;
}

article a.Download:hover{
    margin-right: -0.1em;
    margin-left: 0.6em;
}

footer a{
    font-size: 1em;
}

footer a.SocialMedia{
    float: right;
}
